@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 2px solid white;
    // background-color: #000;
    color: #000;
}

.mlf_customs
{
    // display: grid;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    // height: 100%;
    gap: -100px;
    overflow-x: hidden;

    background-image: url('mlf image.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;


    .overlay {
        background-color: rgba(0, 0, 0, 0.5); /* Change the color and opacity as needed */
        padding: 20px;
        height: 800px;
        text-align: center;
        color: white;
        opacity: 15
    }
    
    .mlf_logo
    {
        padding-top: 70px;
        img 
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 130px;
        }
    }

    .about_us
    {
        color: #fff;

        h2 
        {
            color: #fff;
            padding-top: 30px;
        }

        p
        {
            color: #fff;
            word-spacing: 1px;
            font-size: 17px;
            text-align: center;
            font-weight: 500;
            line-height: 21px;
            // white-space: pre-line;
            padding: 20px;
        }
    }

    .contact_us
    {
        .title
        {
            color: #fff;
            padding: 15px;
        }

        .mlf_social_icons
        {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            i 
            {
                color: #fff;
                font-size: 30px;
                // font-weight: 900;
                gap: 10px;
    
                &:hover
                {
                    color: #10b5cb;
                }
            }
        }
    }
}

